@model FiveStars.Models.Movies

@{
    ViewBag.Title = "Create Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Movie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input type="text" name="Title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <textarea name="Description" class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Duration (min)</label>
            <div class="col-md-10">
                <input type="number" name="Duration_min" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Poster URL</label>
            <div class="col-md-10">
                <input type="text" name="PosterUrl" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Status</label>
            <div class="col-md-10">
                <select name="Status" class="form-control">
                    <option value="Now Showing">Now Showing</option>
                    <option value="Coming Soon">Coming Soon</option>
                    <option value="Ended">Ended</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Rating</label>
            <div class="col-md-10">
                <input type="number" step="0.1" name="Ratings" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Release Date</label>
            <div class="col-md-10">
                <input type="date" name="ReleaseDate" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a href="@Url.Action("Movies", "Admin")" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
}